
.p-checkbox-input {
    display: none;
}

.p-checkbox-box {
    display: inline-block;
    position: relative;
    cursor: pointer;
    vertical-align: middle;
    margin-right: .25em;
    width: 1.4em;
    height: 1.4em;
    border: 2px solid;
    border-radius: 4px;
    transition: background-color .3s, border-color .3s;
}



.p-checkbox-box::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: .5em;
    height: .25em;
    border: solid var(--text-color);
    border-width: 0 0 2px 2px;
    transform: translate(-50%, -50%) rotate(45deg);
    opacity: 0;
    transition: opacity .3s;
    padding-left: 2rem;
}