.p-fileupload-row {
  background-color: var(--purple-blaze-100);
  border-radius: var(--border-radius-box);
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-top: 1rem;
  width: 100%;
}

.p-fileupload-choose.p-disabled {
  cursor: not-allowed;
}

.p-fileupload-row .p-button {
  border-radius: var(--border-radius-box);
  top: 0;
  position: absolute;
  right: 0;
  height: 100%;
}
.p-fileupload-buttonbar .p-disabled {
  cursor: not-allowed;
  color: #333333 !important;
  transition: var(--transition);

}

.p-fileupload-row > div {
  padding-left: 5px;
  width: 100%;
}

.custom-btn-default {
  margin: 5px;
}

.custom-choose-btn {
  background-color: var(--purple-blaze-500);
  color: var(--purple-blaze-50);
  border-radius: var(--border-radius-box);
  transition: var(--transition);
  margin: 0 auto;
}

.custom-upload-btn {
  background-color: var(--col-success-200);
  color: var(--purple-blaze-50) !important;
  border-radius: var(--border-radius-box);
  transition: var(--transition);
  &:hover {
    background-color: var(--col-success-300);
  }
}

.p-fileupload-content {
  position: relative;
  padding-right: 2.5rem;
  width: 100%;
}

.p-fileupload-row > div {
  padding: 1rem;
}
.item-template {
  width: 100%;
  flex-direction: row;
  display: flex;
}

.item-template > div {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.image-preview {
  max-width: 350px;
}

.p-fileupload-file-thumbnail {
  width: 100%;
  height: 100%;
  max-width: 120px;
  object-fit: cover;
}

.p-fileupload-row div[data-pc-section="details"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3rem;
  align-items: flex-start;
}