.theme-changer {
  margin-left: 1rem;
  display: flex;
  place-items: center;
  svg {
    height: 1.5rem;
    margin-top: .5rem;
    width: 1.5rem;
  }
}

.p-selectbutton {
  width: 100%;

  .p-button.p-highlight {
    background-color: var(--purple-blaze-200);
    width: auto;
  }
  .p-button {
    background-color: var(--purple-blaze-d);
    height: 35px;
    &:nth-child(1) {
      border-radius: 5px 0 0 5px;
    }
    &:nth-last-of-type(1) {
      border-radius: 0 5px 5px 0;
    }
  }
}