.board-card {
  background-color: var(--ice-blue-300);
  border-radius: 0.3rem;
  display: block;
  min-width: 15rem;
}

.board-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  user-select: none;
  padding: 0.5rem;
}

.board-card__content {
  padding: 0.5rem;
  min-width: 10rem;
  font-size: 3rem;
  text-align: center;
}

.board-card__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
