.board__wrapper {
  display: flex;
  gap: 1rem;
  margin-bottom: 3rem;
}

.quick-actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.quick-actions__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
}
