@import url('_variables.css');
@import url('./styles/grid.css');
@import url('./styles/button.css');
@import url('./styles/select-button.css');
@import url('./styles/input.css');
@import url('./styles/input-switch.css');
@import url('./styles/dropdown.css');
@import url('./styles/file-upload.css');

* {
  box-sizing: border-box;
}

:root {
  font-family: "Radio Canada Big", Arial, serif;
  line-height: 1.5;
  font-weight: 400;

  font-size: 16px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--purple-blaze-300);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

#theme-light {
  background-color: var(--grayscale-100);
}

.form-element {
  display: flex;
  flex-direction: column;
}