.system-card {
  background: linear-gradient(180deg, #261E2A 0%, #3C2B44 100%);
  border-radius: var(--border-radius-box);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  transition: var(--transition);
  width: 100%;
  &:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.05, 1.05);
  }
  
}

.system-card__icon {
  height: 50px;
  margin-right: 10px;
  width: 50px;
}

.system-card__header {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  width: 100%;
  h3 {
    text-align: center;
    width: 100%;
  }
}

.system-card__image {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  img {
    border-radius: 50%;
    height: 120px;
    width: 120px;
  }
}

.system-card__actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  a {
    display: block;
    padding: 5px;
  }
}

.system-card__button {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  .system-card {
    padding: 1rem;
  }
  
}