
.sidebar-element {
  color: var(--aurus-50);
  display: block;
  margin-bottom: 1rem;
  text-decoration: none;
  text-align: center;
  &:hover svg{
    transform: scale(1.1, 1.1);
  }
  svg {
    height: 2.4rem;
    margin: 0 auto;
    transition: var(--transition);
    width: 2.4rem;
  }
}