.heading {
  font-family: 'Anek Devanagari', Arial, serif;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 1px solid var(--aurus-100);
  margin: .5rem 0 2rem 0;
}

.heading--h1 {
  font-size: 3rem;
}
.heading--h2 {
  font-size: 2.5rem;
}

.heading--h3 {
  font-size: 2.25rem;
}

.heading--h4 {
  font-size: 2rem;
}

.heading--h5 {
  font-size: 1.75rem;
}

.heading--h6 {
  font-size: 1.5rem;
}
